.check-out {
  background-color: red;
}

.check-in {
  background-color: greenyellow;
}

.btn-check {
  border-radius: 5px;
  width: 200px;
  /* padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  transition: box-shadow 0.3s, transform 0.3s; */
}

.btn-check:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
